In [5]:
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv("C:\\Users\\Shraddha\\Downloads\\car data.csv")

In [7]:
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [8]:
X = df.drop('Selling_Price', axis = 1)
X.head(2)

,Car_Name,Year,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,9.54,43000,Diesel,Dealer,Manual,0

In [9]:
y = df.Selling_Price
y.head(2)

0    3.35
1    4.75
Name: Selling_Price, dtype: float64

In [10]:
X = df.drop(['Car_Name','Present_Price'],axis =1)
X.head()

   Year  Selling_Price  Kms_Driven Fuel_Type Seller_Type Transmission  Owner
0  2014           3.35       27000    Petrol      Dealer       Manual      0
1  2013           4.75       43000    Diesel      Dealer       Manual      0
2  2017           7.25        6900    Petrol      Dealer       Manual      0
3  2011           2.85        5200    Petrol      Dealer       Manual      0
4  2014           4.60       42450    Diesel      Dealer       Manual      0

In [11]:
X.drop('Selling_Price',axis = 1, inplace = True)
X.head()

   Year  Kms_Driven Fuel_Type Seller_Type Transmission  Owner
0  2014       27000    Petrol      Dealer       Manual      0
1  2013       43000    Diesel      Dealer       Manual      0
2  2017        6900    Petrol      Dealer       Manual      0
3  2011        5200    Petrol      Dealer       Manual      0
4  2014       42450    Diesel      Dealer       Manual      0

In [12]:
X['Years'] = l

NameError: name 'l' is not defined

In [ ]:
l =[]
for i in X['Year']:
    a = 2023 - i
    l.append(a)

In [ ]:
l

In [ ]:
X.head()

In [ ]:
#  2 nd method

In [ ]:
X = df.drop(['Car_Name'],axis =1)
X.head()

In [ ]:
X.drop('Selling_Price',axis = 1, inplace = True)
X.head()

In [ ]:
X['Present_Year'] = 2023

In [ ]:
X['Year']= X['Present_Year'] - X['Year']

In [ ]:
X.drop('Present_Year' , axis = 1, inplace = True)

In [ ]:
X.head(2)

In [ ]:
X.shape

In [ ]:
X['Fuel_Type'].unique()

In [ ]:
X['Seller_Type'].unique()

In [ ]:
X['Transmission'].unique()

In [ ]:
X = pd.get_dummies(data=X,columns = ['Fuel_Type','Seller_Type','Transmission' ], drop_first = True )

In [ ]:
X.head(3)

In [ ]:
# Year,Selling_Price,Kms_Driven= scale all

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
scaler = MinMaxScaler()

In [ ]:
X['Year'] = scaler.fit_transform(df[['Year']])

In [ ]:
X['Owner'] = scaler.fit_transform(df[['Owner']])

In [ ]:
X['Kms_Driven'] = scaler.fit_transform(df[['Kms_Driven']])

In [ ]:
X.head()

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [ ]:
X_train.shape

In [ ]:
X_test.shape

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
model = LinearRegression()

In [ ]:
model.fit(X_train,y_train)

In [ ]:
model.score(X_test,y_test)

In [ ]:
model.predict(X_test)

In [ ]:
predicted = model.predict(X_test)

In [ ]:
predicted

In [ ]:
from sklearn.metrics import confusion_matrix

In [ ]:
cm = confusion_matrix(y_test,predicted)

In [ ]:
import seaborn as sns