In [7]:
x=[1000,1200,1000,900,1500]
x1=[790,1160,926,865,1140]
y=[99,95,95,90,105]

In [8]:
import pandas as pd

In [9]:
df0=pd.Series(x,name='test')
df0

0    1000
1    1200
2    1000
3     900
4    1500
Name: test, dtype: int64

In [10]:
df1=pd.Series(x1,name='test1')
df1

0     790
1    1160
2     926
3     865
4    1140
Name: test1, dtype: int64

In [11]:
df2=pd.Series(y,name='model')
df2

0     99
1     95
2     95
3     90
4    105
Name: model, dtype: int64

In [12]:
df=pd.concat([df0,df1,df2],axis=1)

In [13]:
df

   test  test1  model
0  1000    790     99
1  1200   1160     95
2  1000    926     95
3   900    865     90
4  1500   1140    105

In [14]:
df.shape

(5, 3)

In [15]:
df.describe

<bound method NDFrame.describe of    test  test1  model
0  1000    790     99
1  1200   1160     95
2  1000    926     95
3   900    865     90
4  1500   1140    105>

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   test    5 non-null      int64
 1   test1   5 non-null      int64
 2   model   5 non-null      int64
dtypes: int64(3)
memory usage: 248.0 bytes

In [17]:
from sklearn.linear_model import LinearRegression

In [18]:
X=df[['test','test1']]
X

   test  test1
0  1000    790
1  1200   1160
2  1000    926
3   900    865
4  1500   1140

In [19]:
model=LinearRegression()

In [20]:
model.fit(X,y)

LinearRegression()

In [21]:
model.coef_

array([ 0.03611431, -0.02938867])

In [22]:
model.intercept_

85.0411980321034

In [23]:
model.predict([[1200,700]])

array([107.8062953])

In [24]:
model.score(X,y)

0.9377818052928051

In [25]:
y=df.model
y

0     99
1     95
2     95
3     90
4    105
Name: model, dtype: int64

In [26]:
from sklearn.preprocessing import MinMaxScaler

In [27]:
scaler=MinMaxScaler()

In [28]:
scaler.fit_transform(X)

array([[0.16666667, 0.        ],
       [0.5       , 1.        ],
       [0.16666667, 0.36756757],
       [0.        , 0.2027027 ],
       [1.        , 0.94594595]])

In [29]:
scaled=scaler.fit_transform(X)
scaled

array([[0.16666667, 0.        ],
       [0.5       , 1.        ],
       [0.16666667, 0.36756757],
       [0.        , 0.2027027 ],
       [1.        , 0.94594595]])

In [30]:
model.fit(scaled,y)

LinearRegression()

In [31]:
model.score(scaled,y)

0.937781805292806

In [32]:
scaler.transform([[1.5,850]])

array([[-1.4975    ,  0.16216216]])

In [33]:
model.predict(scaler.transform([[1.5,850]]))

array([60.1149994])