In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("C:\\Users\\Shraddha\\Downloads\\Bengaluru_House_Data.csv")
df.drop(["availability", "society", "balcony"], axis = 1, inplace = True)
df.head()

,area_type,location,size,total_sqft,bath,price
0,Super built-up Area,Electronic City Phase II,2 BHK,1056,2.0,39.07
1,Plot Area,Chikka Tirupathi,4 Bedroom,2600,5.0,120.00
2,Built-up Area,Uttarahalli,3 BHK,1440,2.0,62.00
3,Super built-up Area,Lingadheeranahalli,3 BHK,1521,3.0,95.00
4,Super built-up Area,Kothanur,2 BHK,1200,2.0,51.00

In [4]:
df.isnull().sum()

area_type      0
location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   area_type   13320 non-null  object
 1   location    13319 non-null  object
 2   size        13304 non-null  object
 3   total_sqft  13320 non-null  object
 4   bath        13247 non-null  float64
 5   price       13320 non-null  float64
dtypes: float64(2), object(4)
memory usage: 624.5+ KB

In [6]:
df.shape

(13320, 6)

In [7]:
df = df[~df.bath.isnull()]
df.head()

,area_type,location,size,total_sqft,bath,price
0,Super built-up Area,Electronic City Phase II,2 BHK,1056,2.0,39.07
1,Plot Area,Chikka Tirupathi,4 Bedroom,2600,5.0,120.00
2,Built-up Area,Uttarahalli,3 BHK,1440,2.0,62.00
3,Super built-up Area,Lingadheeranahalli,3 BHK,1521,3.0,95.00
4,Super built-up Area,Kothanur,2 BHK,1200,2.0,51.00

In [8]:
df.isnull().sum()

area_type     0
location      1
size          0
total_sqft    0
bath          0
price         0
dtype: int64

In [9]:
df["size"].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [10]:
l = []
for i in df["size"]:
    a =float(i.split(" ")[0])
    l.append(a)

In [11]:
df["BHK"] = l
df.head()

,area_type,location,size,total_sqft,bath,price,BHK
0,Super built-up Area,Electronic City Phase II,2 BHK,1056,2.0,39.07,2.0
1,Plot Area,Chikka Tirupathi,4 Bedroom,2600,5.0,120.00,4.0
2,Built-up Area,Uttarahalli,3 BHK,1440,2.0,62.00,3.0
3,Super built-up Area,Lingadheeranahalli,3 BHK,1521,3.0,95.00,3.0
4,Super built-up Area,Kothanur,2 BHK,1200,2.0,51.00,2.0

In [12]:
df.drop("size", axis = 1, inplace = True)
df.head()

,area_type,location,total_sqft,bath,price,BHK
0,Super built-up Area,Electronic City Phase II,1056,2.0,39.07,2.0
1,Plot Area,Chikka Tirupathi,2600,5.0,120.00,4.0
2,Built-up Area,Uttarahalli,1440,2.0,62.00,3.0
3,Super built-up Area,Lingadheeranahalli,1521,3.0,95.00,3.0
4,Super built-up Area,Kothanur,1200,2.0,51.00,2.0

In [13]:
df["total_sqft"].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [14]:
def function(x):
    try:
        float(x)
        return float(x)
    except:
        l =  x.split(" - ")
        if len(l) == 2:
            return (float(l[0]) + float(l[1]))/2
        else:
            return None
        return (float(l[0]) + float(l[1]))/2

In [ ]:
df["total_sqft"] = df["total_sqft"].apply(function)
df.head()

In [ ]:
df.info()

In [ ]:
df = df[~df.total_sqft.isnull()]
df = df[~df.location.isnull()]
df.isnull().sum()

In [ ]:
df.head()

In [ ]:
df["price_per_sqft"] = (df["price"]*100000)/df["total_sqft"]
df.head()

In [ ]:
df.drop("area_type", axis = 1, inplace = True)
df.head()

In [ ]:
df.location.unique()

In [ ]:
df["location"] = df["location"].apply(lambda x: str(x))

In [ ]:
df["location"] = df["location"].apply(lambda x: x.strip() )

In [ ]:
df["location"] = df["location"].apply(lambda x: x.capitalize())

In [ ]:
len(df.location.unique())

In [ ]:
loaction_stats = df.groupby("location")["location"].agg("count").sort_values(ascending = False)
loaction_stats

In [ ]:
less_than_10 = loaction_stats[loaction_stats <= 10]
less_than_10

In [ ]:
df["location"] = df["location"].apply(lambda x: "Others" if x in less_than_10 else x)
df.head()

In [ ]:
df.groupby("location")["location"].agg("count").sort_values(ascending = False)

In [ ]:
df.price_per_sqft.describe()

In [ ]:
df1 = df[~((df.total_sqft/df.BHK) < 300)]
df1.head()

In [ ]:
df1.info()

In [ ]:
def remove_pps_outlier(df):
    df_out = pd.DataFrame()
    for keys,subdf in df.groupby("location"):
        m = np.mean(subdf.price_per_sqft)
        s = np.std(subdf.price_per_sqft)
        reduced_df = (subdf[(subdf.price_per_sqft>(m-s)) & (subdf.price_per_sqft<(m+s))])
        df_out = pd.concat([df_out, reduced_df], ignore_index = True)
    return df_out

In [ ]:
df2 = remove_pps_outlier(df1)

In [ ]:
df2.head()

In [ ]:
df2.info()

In [ ]:
df2 = pd.get_dummies(data = df , columns = ["location"], drop_first = True)
df2.head()

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
scaler = MinMaxScaler()

In [ ]:
df2["total_sqft"] = scaler.fit_transform(df2[["total_sqft"]])
df2["bath"] = scaler.fit_transform(df2[["bath"]])
df2["price"] = scaler.fit_transform(df2[["price"]])
df2["BHK"] = scaler.fit_transform(df2[["BHK"]])
df2["price_per_sqft"] = scaler.fit_transform(df2[["price_per_sqft"]])

In [ ]:
df2.head()

In [ ]:
X = df2.drop("price", axis = 1)
y = df2.price

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.20, random_state=42)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
model = LinearRegression()

In [ ]:
model.fit(X_train, y_train)

In [ ]:
model.score(X_test, y_test)