In [16]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [17]:
df = pd.read_csv("car_data.csv")
df.drop("Car_Name", axis = 1, inplace = True)
df.head()

,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [18]:
df.isnull().sum()

Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [19]:
l = []
for i in df["Year"]:
    a = 2023 - i
    l.append(a)

In [20]:
df["Year"] = l
df.head()

,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,9,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,10,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,6,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,12,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,9,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [21]:
df1 = pd.get_dummies(data = df , columns = ["Fuel_Type", "Seller_Type", "Transmission"], drop_first = True)
df1.sample(5)

,Year,Selling_Price,Present_Price,Kms_Driven,Owner,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
26,10,4.15,5.87,55138,0,0,1,0,1
126,6,0.90,0.95,1300,0,0,1,1,1
84,18,3.49,13.46,197176,0,1,0,0,1
165,7,0.45,0.54,500,0,0,1,1,0
288,8,8.40,13.60,34000,0,0,1,0,1

In [23]:
X = df1.drop("Selling_Price" , axis = 1)
X.head()

,Year,Present_Price,Kms_Driven,Owner,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,9,5.59,27000,0,0,1,0,1
1,10,9.54,43000,0,1,0,0,1
2,6,9.85,6900,0,0,1,0,1
3,12,4.15,5200,0,0,1,0,1
4,9,6.87,42450,0,1,0,0,1

In [25]:
y = df.Selling_Price
y.head()

0    3.35
1    4.75
2    7.25
3    2.85
4    4.60
Name: Selling_Price, dtype: float64

In [27]:
from sklearn.preprocessing import MinMaxScaler

In [29]:
scaler = MinMaxScaler()

In [34]:
X["Year"] = scaler.fit_transform(X[["Year"]])
X["Present_Price"] = scaler.fit_transform(X[["Present_Price"]])
X["Kms_Driven"] = scaler.fit_transform(X[["Kms_Driven"]])
X["Owner"] = scaler.fit_transform(X[["Owner"]])
X.sample(5)

,Year,Present_Price,Kms_Driven,Owner,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
262,0.200000,0.059384,0.079125,0.0,0,1,0,1
7,0.200000,0.089835,0.065924,0.0,1,0,0,1
119,0.333333,0.017122,0.009810,0.0,0,1,1,1
264,0.200000,0.072388,0.079131,0.0,0,1,0,1
123,0.333333,0.012462,0.092092,0.0,0,1,1,1

In [35]:
from sklearn.model_selection import train_test_split

In [36]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 42)

In [40]:
X_train.shape

(240, 8)

In [41]:
X_test.shape

(61, 8)

In [42]:
from sklearn.linear_model import LinearRegression

In [43]:
model = LinearRegression()

In [44]:
model.fit(X_train, y_train)

LinearRegression()

In [46]:
model.score(X_test, y_test)

0.8489813024899064

In [48]:
prediction = model.predict(X_test)
prediction

array([ 2.95534303,  8.178939  ,  6.45427257, -1.42417501,  9.08889914,
        7.41825441,  1.33644285,  0.84027217,  1.36501949,  7.49026806,
        9.11830017,  0.58573931,  8.41612774,  3.42316502,  6.90043281,
        3.04988309,  0.48448171, 10.70970753,  1.75207005,  2.34571752,
        0.39746889,  8.11925338,  6.62469317,  2.65939066,  0.78280554,
        3.69330765,  5.24815462,  2.82676351,  2.13640446,  1.75237686,
        0.39730155,  9.11750503, -0.66188053,  2.29098014,  8.57067341,
        4.4910324 ,  7.20530369,  7.53824015,  2.89101139,  7.93588794,
        3.93585154,  4.27133211,  4.33205704,  0.6008847 ,  7.34025071,
        0.47602539,  7.29187681, 11.23125597,  3.13805132,  5.38262985,
        6.7988422 ,  2.17888955, 20.63303305, 17.0015261 ,  7.50717349,
        9.69621308,  4.47478116,  8.97377615,  1.82294639,  7.60416734,
        0.22226536])

In [51]:
y_test.head()

177     0.35
289    10.11
228     4.95
198     0.15
60      6.95
Name: Selling_Price, dtype: float64