In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("C:\\Users\\Shraddha\\Downloads\\car data.csv")

In [3]:
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [4]:
X = df.drop('Selling_Price', axis = 1)
X.head(2)

,Car_Name,Year,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,9.54,43000,Diesel,Dealer,Manual,0

In [5]:
y = df.Selling_Price
y.head(2)

0    3.35
1    4.75
Name: Selling_Price, dtype: float64

In [6]:
X = df.drop(['Car_Name','Present_Price'],axis =1)
X.head()

   Year  Selling_Price  Kms_Driven Fuel_Type Seller_Type Transmission  Owner
0  2014           3.35       27000    Petrol      Dealer       Manual      0
1  2013           4.75       43000    Diesel      Dealer       Manual      0
2  2017           7.25        6900    Petrol      Dealer       Manual      0
3  2011           2.85        5200    Petrol      Dealer       Manual      0
4  2014           4.60       42450    Diesel      Dealer       Manual      0

In [7]:
X.drop('Selling_Price',axis = 1, inplace = True)
X.head()

   Year  Kms_Driven Fuel_Type Seller_Type Transmission  Owner
0  2014       27000    Petrol      Dealer       Manual      0
1  2013       43000    Diesel      Dealer       Manual      0
2  2017        6900    Petrol      Dealer       Manual      0
3  2011        5200    Petrol      Dealer       Manual      0
4  2014       42450    Diesel      Dealer       Manual      0

In [45]:
X['Years'] = l

In [9]:
l =[]
for i in X['Year']:
    a = 2023 - i
    l.append(a)

In [10]:
l

[9,
 10,
 6,
 12,
 9,
 5,
 8,
 8,
 7,
 8,
 6,
 8,
 8,
 8,
 14,
 7,
 8,
 7,
 8,
 13,
 7,
 6,
 12,
 9,
 10,
 12,
 10,
 6,
 13,
 8,
 11,
 12,
 9,
 9,
 9,
 12,
 8,
 20,
 7,
 20,
 7,
 9,
 15,
 9,
 11,
 9,
 10,
 17,
 8,
 6,
 11,
 8,
 6,
 10,
 18,
 14,
 8,
 13,
 9,
 9,
 10,
 8,
 9,
 8,
 6,
 9,
 6,
 13,
 12,
 7,
 9,
 12,
 10,
 12,
 9,
 8,
 10,
 19,
 13,
 11,
 7,
 8,
 6,
 8,
 18,
 17,
 13,
 11,
 10,
 9,
 14,
 9,
 18,
 8,
 15,
 11,
 7,
 6,
 10,
 13,
 7,
 6,
 6,
 6,
 6,
 8,
 9,
 10,
 7,
 6,
 7,
 7,
 9,
 7,
 8,
 8,
 10,
 8,
 8,
 10,
 7,
 12,
 7,
 10,
 11,
 14,
 6,
 7,
 6,
 6,
 6,
 8,
 6,
 7,
 6,
 8,
 9,
 10,
 7,
 8,
 10,
 7,
 8,
 7,
 9,
 11,
 9,
 8,
 13,
 7,
 12,
 7,
 11,
 10,
 9,
 6,
 6,
 8,
 6,
 6,
 12,
 9,
 11,
 13,
 7,
 7,
 7,
 9,
 10,
 8,
 11,
 8,
 9,
 6,
 8,
 12,
 12,
 7,
 9,
 13,
 11,
 7,
 10,
 10,
 15,
 15,
 13,
 10,
 10,
 18,
 15,
 11,
 16,
 10,
 15,
 8,
 15,
 13,
 12,
 16,
 17,
 13,
 8,
 12,
 8,
 7,
 6,
 8,
 6,
 8,
 11,
 8,
 7,
 12,
 6,
 11,
 7,
 7,
 9,
 11,
 6,
 10,
 9,
 8,
 10,
 12,
 8,
 12,
 11,
 11,
 10,
 6,
 8,
 10,
 8,
 6,
 7,
 8,
 10,
 11,
 11,
 8,
 9,
 7,
 10,
 11,
 11,
 8,
 10,
 7,
 7,
 10,
 8,
 9,
 10,
 11,
 7,
 8,
 8,
 9,
 7,
 7,
 8,
 7,
 8,
 6,
 9,
 7,
 6,
 8,
 12,
 14,
 8,
 13,
 9,
 7,
 8,
 8,
 7,
 9,
 8,
 17,
 9,
 7,
 10,
 7,
 7,
 8,
 8,
 7,
 9,
 8,
 7,
 13,
 9,
 8,
 7,
 8,
 14,
 6,
 7]

In [11]:
X.head()

   Year  Kms_Driven Fuel_Type Seller_Type Transmission  Owner
0  2014       27000    Petrol      Dealer       Manual      0
1  2013       43000    Diesel      Dealer       Manual      0
2  2017        6900    Petrol      Dealer       Manual      0
3  2011        5200    Petrol      Dealer       Manual      0
4  2014       42450    Diesel      Dealer       Manual      0

In [12]:
#  2 nd method

In [13]:
X = df.drop(['Car_Name','Present_Price'],axis =1)
X.head()

   Year  Selling_Price  Kms_Driven Fuel_Type Seller_Type Transmission  Owner
0  2014           3.35       27000    Petrol      Dealer       Manual      0
1  2013           4.75       43000    Diesel      Dealer       Manual      0
2  2017           7.25        6900    Petrol      Dealer       Manual      0
3  2011           2.85        5200    Petrol      Dealer       Manual      0
4  2014           4.60       42450    Diesel      Dealer       Manual      0

In [14]:
X.drop('Selling_Price',axis = 1, inplace = True)
X.head()

   Year  Kms_Driven Fuel_Type Seller_Type Transmission  Owner
0  2014       27000    Petrol      Dealer       Manual      0
1  2013       43000    Diesel      Dealer       Manual      0
2  2017        6900    Petrol      Dealer       Manual      0
3  2011        5200    Petrol      Dealer       Manual      0
4  2014       42450    Diesel      Dealer       Manual      0

In [15]:
X['Present_Year'] = 2023

In [16]:
X['Year']= X['Present_Year'] - X['Year']

In [17]:
X.drop('Present_Year' , axis = 1, inplace = True)

In [18]:
X.head(2)

   Year  Kms_Driven Fuel_Type Seller_Type Transmission  Owner
0     9       27000    Petrol      Dealer       Manual      0
1    10       43000    Diesel      Dealer       Manual      0

In [19]:
X.shape

(301, 6)

In [20]:
X['Fuel_Type'].unique()

array(['Petrol', 'Diesel', 'CNG'], dtype=object)

In [21]:
X['Seller_Type'].unique()

array(['Dealer', 'Individual'], dtype=object)

In [22]:
X['Transmission'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [23]:
X = pd.get_dummies(data=X,columns = ['Fuel_Type','Seller_Type','Transmission' ], drop_first = True )

In [24]:
X.head(3)

,Year,Kms_Driven,Owner,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,9,27000,0,0,1,0,1
1,10,43000,0,1,0,0,1
2,6,6900,0,0,1,0,1

In [25]:
# Year,Selling_Price,Kms_Driven= scale all

In [26]:
from sklearn.preprocessing import MinMaxScaler

In [27]:
scaler = MinMaxScaler()

In [28]:
X['Year'] = scaler.fit_transform(df[['Year']])

In [29]:
X['Owner'] = scaler.fit_transform(df[['Owner']])

In [30]:
X['Kms_Driven'] = scaler.fit_transform(df[['Kms_Driven']])

In [31]:
X.head()

,Year,Kms_Driven,Owner,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,0.733333,0.053053,0.0,0,1,0,1
1,0.666667,0.085085,0.0,1,0,0,1
2,0.933333,0.012813,0.0,0,1,0,1
3,0.533333,0.009409,0.0,0,1,0,1
4,0.733333,0.083984,0.0,1,0,0,1

In [32]:
from sklearn.model_selection import train_test_split

In [33]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [34]:
X_train.shape

(240, 7)

In [35]:
X_test.shape

(61, 7)

In [36]:
from sklearn.linear_model import LinearRegression

In [37]:
model = LinearRegression()

In [38]:
model.fit(X_train,y_train)

LinearRegression()

In [39]:
model.score(X_test,y_test)

0.5902852717348204

In [40]:
model.predict(X_test)

array([ 5.97794492,  5.3246979 ,  9.15930812, -0.43919744,  4.3655473 ,
       10.06732916,  0.87891787,  0.68344957,  1.20907945,  9.7792233 ,
       11.07710198,  0.2949209 ,  9.56784369,  6.35614711,  9.50293903,
        4.25540861,  0.11516681,  5.61121886,  1.50960852,  1.5419349 ,
        0.38920619, 10.44657746,  9.28357614,  3.90277877,  0.60712338,
        4.1117164 ,  4.29056804,  3.79951392,  1.49883305,  1.19112035,
        0.37124709,  9.69840734, -0.50699326,  2.90331447, 10.3407714 ,
        4.66428494,  4.22187896,  3.16163964,  4.28976886,  3.49180122,
        1.99813547,  6.26553644,  4.73612136,  0.53079719, 10.10745877,
        0.29941067,  4.64127035,  8.17087117,  4.41044955,  9.19463368,
        9.19638515,  1.52981251, 14.86029125, 15.55653262,  9.98196055,
       10.04968479,  5.0775433 , 10.38123326,  2.3846168 , 10.12014734,
        0.30839023])

In [41]:
predicted = model.predict(X_test)

In [42]:
predicted

array([ 5.97794492,  5.3246979 ,  9.15930812, -0.43919744,  4.3655473 ,
       10.06732916,  0.87891787,  0.68344957,  1.20907945,  9.7792233 ,
       11.07710198,  0.2949209 ,  9.56784369,  6.35614711,  9.50293903,
        4.25540861,  0.11516681,  5.61121886,  1.50960852,  1.5419349 ,
        0.38920619, 10.44657746,  9.28357614,  3.90277877,  0.60712338,
        4.1117164 ,  4.29056804,  3.79951392,  1.49883305,  1.19112035,
        0.37124709,  9.69840734, -0.50699326,  2.90331447, 10.3407714 ,
        4.66428494,  4.22187896,  3.16163964,  4.28976886,  3.49180122,
        1.99813547,  6.26553644,  4.73612136,  0.53079719, 10.10745877,
        0.29941067,  4.64127035,  8.17087117,  4.41044955,  9.19463368,
        9.19638515,  1.52981251, 14.86029125, 15.55653262,  9.98196055,
       10.04968479,  5.0775433 , 10.38123326,  2.3846168 , 10.12014734,
        0.30839023])

In [43]:
from sklearn.metrics import confusion_matrix

In [44]:
cm = confusion_matrix(y_test,predicted)

ValueError: continuous is not supported

In [ ]:
import seaborn as sns